<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Pizzería Nuñez</title>
      <meta name="author" content="Diego Emiliano Nuñez Abaroa" />
      <meta
        name="description"
        content="Pagina Web sobre la mejor Pizzería en 
    	la ciudad de La Paz"
      />

      <meta name="keywords" content="cv,backend" />
    </head>

    <body>
      <header>
        <h1>Sobre Nosotros</h1>
      </header>

      <!-- Navegación del ssitio web -->

      <nav>
        <ul>
          <li><a href="../index.html"> Inicio </a></li>

          <li><a href="about.html"> Sobre Nosotros </a></li>

          <li><a href="../contact.html"> Contacto </a></li>

          <li><a href="../order.html"> Ordena Ahora </a></li>
        </ul>
      </nav>

      <!-- Empieza contenido -->

      <main>
        <hr />

        <p>
          🍕 Desde el año de 1994 cuando nuestros padres decidieron emprender
          este negocio, hoy somos una empresa consolidada a lo largo y ancho de
          la Ciudad Capital.
        </p>
        <p>
          !No pierdas la oportunidad de visitar este negocio que trasciende
          entre generaciones!
        </p>
        <hr />
        <section>
          <h2>Nuestro Equipo</h2>
          <img
            height="300"
            width="300"
            alt="Pizza Inicio"
            title="Presentación de nuestra pizza favorita del menú"
            src="../assets/img/Chef1.jpg"
          />

          <p>
            Chef Alejandro, nuestro fundador y el mejor en la elaboración de
            pizzas.
          </p>

          <img
            height="300"
            width="300"
            alt="Pizza Inicio"
            title="Presentación de nuestra pizza favorita del menú"
            src="../assets/img/Chef2.jpg"
          />
          <p>
            Chef Carlos, Acompañandos desde el inicio del negocio, de los
            mejores amigos de Alejandro.
          </p>

          <img
            height="300"
            width="300"
            alt="Pizza Inicio"
            title="Presentación de nuestra pizza favorita del menú"
            src="../assets/img/Chef3.jpg"
          />
          <p>Chef Diego, El mas joven del equipo nuestro proximo lider.</p>
        </section>

        <hr />
        <section>
          <h2>Misión</h2>
          <p>
            Nuestra misión se basa en el trabajo en equipo día con día para
            lograr un ambiente adecuado entre cliente-trabajador y asi seguir
            siendo la mejor Pizzería del estado.
          </p>
        </section>
        <hr />
        <section>
          <h2>Visión</h2>
          <p>
            La Visión de Pizzería Nuñez se basa en ser una cadena nacional para
            llegar a cada rincón del país, con nuestro proximo lider alla vamos.
          </p>
        </section>

        <!--ACABA CONTENIDO -->

        <!-- A partir de aqui inicia el footer -->
        <footer>
          <p>@ 2024 Pizzería Nuñez</p>
        </footer>
      </main>
    </body>
  </html>
</html>
